language: node_js
node_js:
  - "4"
env: NODE_ENV=testing
services:
  - mongodb
install:
  - npm install strongloop mocha
  - npm install
branches:
  only:
    - travis
cache:
  directories:
  - node_modules
 before_script:
  - sleep 15